*.pyc
*__init__.py
*__init__.pyc
ETTAnalyzer/.__afs*
ETTAnalyzer/Scan_files/.__afs*
ETTAnalyzer/Scan_files/*.txt
ETTAnalyzer/python/__init__.pyc
ETTAnalyzer/TPinfo.log
ETTAnalyzer/*.root
ETTAnalyzer/crab_projects
ETTAnalyzer/crab.log
ETTAnalyzer/*.d
